<!-- <form #registerForm = "ngForm" (ngSubmit) = "register()">
    <h2 class="text-center text-primary">
        SignUp
    </h2>
    <hr>
    <div class="form-group">
        <input type="text" 
        name="username" 
        placeholder="username" 
        class="form-control"
        [(ngModel)] = "models.username">
    </div>

    <div class="form-group">
        <input type="password" 
        name="password" 
        class="form-control"
        [(ngModel)] = "models.password"
        placeholder="password">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit"> Register </button>
        <button class="btn btn-defau lt mr-2" type="button" (click) = "cance()"> Cance </button>
    </div>
</form> -->

<form [formGroup] = "registerForm" (ngSubmit) = "registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary">
        SignUp
    </h2>
    <hr>

    <div class="form-group">
        <label class="control-label" style="margin-right:10px">I am a : </label>
        <label class="radio-inline">
            <input type="radio" formControlName="gender" value="male"> Male
        </label>
        <label class="radio-inline">
             <input type="radio" formControlName="gender" value="female" class = "ml-2"> Female
        </label>
    </div>

    <app-text-input 
                    [formControl] = 'registerForm.controls["username"]' 
                    [label] ='"username"' > 
    </app-text-input>

    <app-text-input 
    [formControl] = 'registerForm.controls["knownAs"]' 
    [label] ='"knownAs"' > 

    </app-text-input>
    <app-date-input 
    [maxDate] = "maxDate"
    [formControl] = 'registerForm.controls["dateOfBirth"]' 
    [label] ='"dateOfBirth"'> 
    </app-date-input>

    <app-text-input 
    [formControl] = 'registerForm.controls["city"]' 
    [label] ='"city"' > 
    </app-text-input>

    <app-text-input 
    [formControl] = 'registerForm.controls["country"]' 
    [label] ='"country"' > 
    </app-text-input>

  

    <app-text-input 
                    [formControl] = 'registerForm.controls["password"]' 
                    [label] ='"Password"' 
                    [type] = '"password"'>
    </app-text-input>
    <app-text-input 
                    [formControl] = 'registerForm.controls["confirmPassword"]' 
                    [label] ='"confirmPassword"' 
                    [type] = '"password"'>
    </app-text-input>

    <div class="row mt-5" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              this is error :  {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group text-center">
        <button [disabled] = " ! registerForm.valid" class="btn btn-success mr-2" type="submit"> Register </button>
        <button class="btn btn-defau lt mr-2" type="button" (click) = "cance()"> Cance </button>
    </div>
</form>
<p> form value: {{registerForm.value | json}} </p>
<p> form state: {{registerForm.status | json}} </p>