<div class="text-center mt-3">
<h2>Your Matches - {{pagination?.totalItems}} </h2>
</div>
<div class="container mt-3">
    <form class="form-inline mt-3" autocomplete="off" #f = "ngForm" (ngSubmit) = "loadMembers()">
    <div class="form-group">
        <label> Age from : </label>
        <input type="number" class="form-control ml-1"
        style="width: 70px;" name = "minAge"
        [(ngModel)] = "userParams.minAge">
    </div>
    <div class="form-group">
        <label> Age to : </label>
        <input type="number" class="form-control ml-1"
        style="width: 70px;" name = "maxAge"
        [(ngModel)] = "userParams.maxAge">
    </div>
    <div class="form-group px-2">
        <label> Show : </label>
        <select name="gender"  
        [(ngModel)]="userParams.gender" 
        class="form-control ml-1"
        style="width: 130px">
            <option *ngFor = "let gender of genderList" class="form-control"
            [value] = "gender.value"  >
            {{gender.display}}
    </option>
    </select>
    </div>
    <button class="btn btn-primary ml-1" type="submit">Apply filter</button>
    <button class="btn btn-primary ml-1" type="submit" (click) = "resetFilters()">Reset</button>

    <div class="col">
        <button type="button" 
        btnRadio="lastActive"
        name = "OrderBy"
        [(ngModel)]="userParams.orderBy"
        (click) = "loadMembers()"
        class="btn btn-primary" > Last Active </button>

        <button type="button" 
        btnRadio="created"
        name = "OrderBy"
        [(ngModel)]="userParams.orderBy"
        (click) = "loadMembers()"
        class="btn btn-primary" > Newbie Member </button>
    </div>
    

</form>
</div>



<div class="row">
    <div *ngFor="let member of members " class="col-2">
        <app-member-card [member]="member"></app-member-card>
    </div>
</div>
<div class="d-flex justify-content-center" *ngIf = "pagination">
    <pagination 
    [boundaryLinks]="true"
    [totalItems] = "pagination.totalItems"
    [itemsPerPage] = "pagination.itemsPerPage"
    [(ngModel)] = "pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;"
    >
</pagination>
</div>